header
  margin: 0 auto
  position fixed
  left 10px
  top 0px
  height 100%
  width calc(30vw - 10px)
  display flex !important
  flex-direction column
  justify-content center
  align-items: center
  // padding: 1.5rem 1.5rem
  h1
    margin: 0 0 50px
  .logo
    font-family: Metropolis Semi Bold
    color white
    transition all .3s linear
    display inline-block
