 @font-face
   font-family Gooddog
   font-style normal
   src url(./fonts/GoodDogPlain.woff2)
  @font-face
   font-family Metropolis
   font-style normal
   font-weight 400
   src url(./fonts/metropolis-regular-webfont.woff2)
  @font-face
   font-family Metropolis Medium
   font-style normal
   font-weight 500
   src url(./fonts/metropolis-medium-webfont.woff2)
  @font-face
   font-family Metropolis Semi Bold
   font-style normal
   font-weight 600
   src url(./fonts/metropolis-semibold-webfont.woff2)
  @font-face
   font-family Metropolis Bold
   font-style normal
   font-weight 700
   src url(./fonts/metropolis-bold-webfont.woff2)
